<div class="row">
  <div class="col-sm-3">
    <p class="lead">Menu</p>
    <div class="list-group">
      <!--<a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>-->
      <a href="#" class="list-group-item">News</a>
      <a class="list-group-item" routerLink="/movies" routerLinkActive="active">Media</a>
      <a class="list-group-item" routerLink="/favourites" routerLinkActive="active">Favourites</a>
      <a class="list-group-item" routerLink="/users" routerLinkActive="active">Users</a>
      <a class="list-group-item" routerLink="/signin" routerLinkActive="active">Sign in</a>
      <a href="#" class="list-group-item">Contacts</a>
      <a href="#" class="list-group-item">About</a>
    </div>
  </div>

  <template ngbModalContainer></template>
  <div class="col-md-9" style="">
    <div class="content-block">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
