<ng-container *ngTemplateOutlet="pagination"></ng-container>

<div class="row container-fluid">
    <div *ngFor="let person of searchResult.items" class="col-sm-6 col-lg-4 p-0">
        <person-short-view [person]="person"></person-short-view>
    </div>
</div>
<div [ngBusy]="busyLoading"></div>

<ng-container *ngTemplateOutlet="pagination"></ng-container>

<ng-template #pagination>
    <div class="row" *ngIf="searchResult.items">
        <div class="col-12 justify-content-center">
            <ngb-pagination [(page)]="this.page"
                            (pageChange)="onPageChange()"
                            [(collectionSize)]="searchResult.totalPages"
                            [pageSize]="1"
                            [maxSize]="5"
                            [rotate]="true"
                            [boundaryLinks]="true">

            </ngb-pagination>
        </div>
    </div>
</ng-template>