<div class="row">
    <div class="col-12 justify-content-center">
        <ngb-pagination [pageSize]="1" [(collectionSize)]="searchResult.totalPages"
                        [(page)]="this.page"(pageChange)="onPageChange()"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true">

        </ngb-pagination>
    </div>
</div>
<div class="row container-fluid">
    <div *ngFor="let person of searchResult.items" class="col-sm-6 col-lg-4 p-0">
        <person-short-view [person]="person"></person-short-view>
    </div>
</div>
<div [ngBusy]="busyLoading"></div>
<div class="col-12 justify-content-center">
    <ngb-pagination [pageSize]="1" [(collectionSize)]="searchResult.totalPages"
                    [(page)]="this.page"(pageChange)="onPageChange()"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true">

    </ngb-pagination>
</div>