<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      {{movie.title}}
      <small>Movie</small>

      <hr/>

      <div class="movie-actions">
        <div class="btn-group float-left" role="group" aria-label="Basic example">
          <button *ngIf="!movie.isFavourite" class="btn btn-secondary" (click)="addToFavourites(movie)">Add to favourites &nbsp; <i class="fa fa-star-o fa-lg" aria-hidden="true"></i></button>
          <button *ngIf="movie.isFavourite" class="btn btn-secondary" (click)="removeFromFavourites(movie)">Remove from favourites &nbsp; <i class="fa fa-star fa-lg" aria-hidden="true"></i></button>
          <button class="btn btn-secondary">Share &nbsp;<i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></button>
        </div>
      </div>
    </h1>
  </div>
</div>
<!-- /.row -->

<hr/>

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img class="img-responsive" [src]="movie.imagePath" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <h3>Movie Information</h3>
        <ul>
          <li>Name: {{movie.title}}</li>
          <li>Duration: {{movie.duration}}</li>
          <li>Rating: {{movie.stars}}/5</li>
          <li>Reviews: {{movie.reviews}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Producers</h3>
    <p>Work in progress...</p>
    <h3>Cast</h3>
    <ul>
      <li>Ernest Borgnine Picture	Ernest Borgnine as Coley Trimble</li>
      <li>Lee Marvin Picture	Lee Marvin as Hector David</li>
      <li>Spencer Tracy Picture	Spencer Tracy as John J. Macreedy</li>
      <li>ne Francis Picture	Anne Francis as Liz Wirth</li>
      <!--<li>Name: {{movie.title}}</li>
      <li>Duration: {{movie.duration}}</li>
      <li>Rating: {{movie.stars}}/5</li>
      <li>Reviews: {{movie.reviews}}</li>-->
    </ul>
  </div>

</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <h3>Description</h3>
    <p class="row">{{movie.description}}</p>
  </div>
</div>
<!-- /.row -->

<hr/>

<!-- Related Projects Row -->
<div class="row">

  <div class="col-lg-12">
    <h3 class="page-header">Related Movies</h3>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#">
      <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
    </a>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#">
      <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
    </a>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#">
      <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
    </a>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#">
      <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
    </a>
  </div>
</div>

<hr>

<div class="well">

  <div class="text-right">
    <a class="btn btn-success">Leave a Review</a>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      Anonymous
      <span class="pull-right">10 days ago</span>
      <p>Amazing!!</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      Anonymous
      <span class="pull-right">12 days ago</span>
      <p>The best movie I've ever seen</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
      Anonymous
      <span class="pull-right">15 days ago</span>
      <p>It's good, but I've seen better.</p>
    </div>
  </div>
</div>
