<div class="m-2">
    <div class="row">
        <h1>Search media</h1>
    </div>

    <hr/>

    <mdc-list-group>
        <mdc-list>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
            </mdc-list-item>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
            </mdc-list-item>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
            </mdc-list-item>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
            </mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
            </mdc-list-item>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
            </mdc-list-item>
            <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
            </mdc-list-item>
        </mdc-list>
    </mdc-list-group>

    <div class="row">
        <form #f="ngForm" (ngSubmit)="submitSearch(f.value, f.valid)" class="form-inline w-100" novalidate>
            <input id="query" type="text" class="form-control col-8 mb-5 mr-sm-2 mb-sm-0"
                   name="query" [(ngModel)]="searchParams.query"
                   placeholder="Start typing..."
                   #query="ngModel" required>
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </form>
    </div>

    <div class="row mt-3">
        <ngb-tabset class="w-100">
            <ngb-tab id="tab1" title="All">
                <ng-template ngbTabContent>
                    <media-search-section [searchParams]="searchParams"></media-search-section>
                </ng-template>
            </ngb-tab>

            <ngb-tab id="tab2" title="Movies">
                <ng-template ngbTabContent>
                    <movie-search-section [searchParams]="searchParams"></movie-search-section>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab3" title="TV Shows">
                <ng-template ngbTabContent>
                    <tvshow-search-section [searchParams]="searchParams"></tvshow-search-section>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab4" title="People">
                <ng-template ngbTabContent>
                    <app-people-search-section [searchParams]="searchParams"></app-people-search-section>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>