<div class="demo-container">
    <div class="movie-view-block">
        <div class="thumbnail">
            <div class="demo-content--row">
                <div class="hovereffect" (click)="onSelectMovie(movie)">
                    <img class="img-fluid" height="200" [src]="getImage(movie.imagePath)" alt="">
                    <div class="overlay">
                        <div class="overlay-header">{{movie.title}}</div>
                        <div class="overlay-body">
                            <span>Rating: {{movie.stars}}/10</span>
                            <span>{{movie.genre}}</span>
                            <button class="btn btn-success info">Click for details</button>
                            <button class="btn btn-default info" (click)="gotoMoviePage(movie)">Open page &nbsp;<i
                                    class="fa fa-external-link fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <!--<span class="movie header" >{{movie.title}}</span> ({{movie.duration}} mins.)-->
                    <p>{{movie.shortDescription}}</p>
                </div>
            </div>
            <div class="demo-content--row">
                <button mat-icon-button (click)="onFavoriteToggleChange(isMediaFavorite)">
                    <mat-icon>{{isMediaFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon>share</mat-icon>
                </button>
            </div>
            <div class="ratings">
                <p class="float-right">{{movie.reviews}} reviews</p>
                <p>
                    <!--<span *ngFor="let star of [1, 2, 3, 4, 5];">
                      <span *ngIf="star <= movie.stars" class="glyphicons glyphicons-star" >1</span>
                      <span *ngIf="star > movie.stars" class="glyphicons glyphicons-star-empty" >0</span>
                    </span>-->
                    <ngb-rating [(rate)]="movie.stars" [max]="5" readonly="true"></ngb-rating>
                </p>
            </div>
        </div>
    </div>
</div>