<div class="row">
  <h3>User list <button class="btn btn-primary">Create</button></h3>
  <div class="table-responsive top10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>

        <td>
          <a href="/user/add">Change</a>
          <!--<router-outlet></router-outlet>-->
          <button class="btn btn-primary"
                  (click)="onSelectUser(user)">Update</button>
          <button class="btn btn-danger"
                  onclick="location.href='#'">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
