.add-category {
    width: 100px;
    height: 100px;
    display: table;
    cursor: pointer;
    border: dashed 5px #cccccc;
}

.add-category:hover {
    /*background: #c0c0c0;*/
    background: #f1f1f1;
}

.add-category .add-sign {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #cccccc;
}

.category-caption {
    font-size: 12px;
}