<div *ngIf="!!currentCategory" class="row">
    <div class="col-xs-3 text-center m-3">
        <div class="add-category" (click)="openNewCategoryModalWindow()">
            <span class="add-sign">+</span>
        </div>
        <div class="category-caption">
            New category
        </div>
    </div>
    <div *ngFor="let category of currentCategory.subCategories" class="col-xs-3 text-center m-3">
        <div>
            <img src="http://via.placeholder.com/100x100?text=Category"/>
        </div>
        <div class="category-caption">
            {{category.name}}
        </div>
    </div>
</div>