.demo-card--photo {
    width: 250px;
}

.demo-card__media {
    background-image: url(https://material-components-web.appspot.com/images/1-1.jpg);
}

.demo-card__media--16-9 {
    background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
}

.demo-card__media-content--with-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.demo-card__media-title {
    padding: 8px 16px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    color: white;
}

.hero {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 360px;
    min-height: 360px;
    background-color: rgba(0, 0, 0, 0.05);
}